body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #212121;               /* Color del auto */            
  margin: 0px;
  padding: 20px;                       /* Comienzo de la pagina */
}

h2 {
  margin-bottom: 20px;                /* espacio entre texto principal y entrada de texto */
  color:aliceblue;

}

label {
  color: aliceblue; /* Texto de los labels en verde */
}

p {
  color: aliceblue; /* Párrafos en blanco */
}
.contenedor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;                               /* Espacio entre carta y carta */
  max-width: 1000px;
  margin: auto;
}

.tablero {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 5px;                                    /* Espacio entre baraja y baraja */
  padding: 10px;                              /* Contorno de la carta */
  background: rgb(255, 255, 255);           /* Color del fondo de la carta */
  border: 3px solid #181818;                /* Color del contorno de la carta */
  border-radius: 4px;                           /* Radio de la carta */
  max-width: 400px;
  position: relative; /* overlay de lote */
}

.tablero img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 2px solid #000000;
  border-radius: 0px;                                 /* Borde de la baraja */
}

.carta-lote {                 /* Modifica el texo inferior del lote */
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 10px;
  color: #000000;
  background: rgba(255, 255, 255, 0.6);
  line-height: 1;
  padding: 1px 0;

  /* Mejoras de nitidez */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform-origin: bottom center; /* Escala limpia desde la base */
}


button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background: #2980b9;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s;
  margin-bottom: 20px;
}

button:hover {
  background: #133b57;
}
